/*GENERAL STYLES*/

body{
    font-family:'Roboto', sans-serif;
    color: #212121;
}

/*header*/

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
/* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;
}

.first-part {
    color: #2196F3;
}
.last-part {
    color: #000000;
}
.list{
    list-style: none;
}


.link {
    text-decoration: none;
}

.header-nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.02em;
    color: #212121;
    

    
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #2196F3;
}

.contakt-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.contakt-link:hover, .contakt-link:focus {
    color: #2196F3;
}

/*main*/

.slogan {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #757575;
}

.btn{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

        /*переваги*/

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

        /* Чим ми займаємося*/

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;

    
}


/* footer*/

.footer{
    background-color: #2F303A;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.first-part-footer {
    color: #2196F3;
}
.last-part-footer {
    color: #FFFFFF;
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



/*PORTFOLIO*/

.filters-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    cursor: pointer;
}

.filters-btn:hover, .filters-btn:focus {
    color: #FFFFFF;
    background-color:#2196F3;
}

.title-project {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.desc-project {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}

